.border_table{
          border: 2px solid black;
          border-radius: 15px;
          padding: 10px;
          margin-top: 10px;
          background-color: var( --secondary-color);
          filter: drop-shadow(0px 4px 4px #f6b471);
}
.table{
          border: 0.5px solid black;
          margin: 10px;
          background:white;

       
}
.search_button_box{
    margin-top: 20px;
    margin-right: 15px;
    text-align: end;
}
.search_btn{
    background-color: #0E9EF6 ;
}
.search_btn:hover{
    background-color: #37F01D ;
}

.noWrap{
          white-space:nowrap;

}


.edit{
  display: block;
  float: right;
}
.scroller {
          height: 500px;
          overflow-y: scroll;
          scroll-snap-type: y mandatory;
      }
      
.scroller section {
          scroll-snap-align: start;
      }


@media screen  and (max-width:350px){
    .search__box{
        width:125px;
    }
    .search_button{
        width:75px;
    }
    .outer_table_rate{
        padding: 0px;
        margin: 0px;;
    }
    .edit{
        padding: 0px;
        margin: 0px;
    }
}





